body{
    padding: 20px;
}

.btn-info{
    text-align: center !important;
    background-color: rgb(74, 131, 255) !important;
}

img{
    padding: 10px;
    margin-right: 100px;
    border: solid 2px gray;
    border-radius: 20px;
}


li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: rgb(98, 98, 255);
    text-align: center;
}