*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .html{
    height: 30%;
    position: absolute;
    top: 90%;
    left: 49%;
    transform: translate(-50%, -90%);
}

.css{
    height: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
} */
