body{
    background-color: #ffff;
}

#jf{
   
    position: static;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    transform: all 0.5s;
    letter-spacing: 7px;
 

}

#r{
    color: black;
}

#jf:hover{
   
    transform: scale(1.5);
    color: rgb(254, 214, 58);
    
    
}

#acc{
    font-size: 15px;
    color: black;
}

#acc:hover{
    color: black;
}

.line{
    border-top: 1px solid rgb(92, 92, 92);
    margin-top: 10px;
}

.sidebar{
    display: flex;
    flex-flow: row;
    margin-top: none;
    justify-content: space-evenly;
    padding: 0px 0px;
    text-align: right;
    text-decoration: none;

}

#menu{
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    transition: 0.5s;
   
}

#menu:hover{
    transform: scale(1.1);
    color: rgb(254, 214, 58);
}

#login{
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    transition: 0.5s;
}

#login:hover{
    transform: scale(1.1);
    color: rgb(254, 214, 58);
}

#signin{
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    transition: 0.5s;
}

#signin:hover{
    transform: scale(1.1);
    color: rgb(254, 214, 58);
}

#home{
    text-decoration: none;
    color: black;
    font-family:'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    transition: 0.5s;
}

#home:hover{
    transform: scale(1.1);
    color: rgb(254, 214, 58);
}

.block1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    
}

.models{
    padding: 28px;
}

.models:hover{
    cursor: pointer;

}

#wom1{
    text-align: center;
}
#wom2{
    text-align: center;
}
#man1{
    text-align: center;
}
#man2{
    text-align: center;
}

#cart{
    border: solid black 2px;
    border-radius: 10px;
    transition: 0.5s;
    padding: 5px;
    animation: 0.5s;
}

span:hover{
   animation: 0.5s;
   transform: scale(1.1);
   color: rgb(254, 214, 58);
}

#title{
    margin-top: 170px;
    font-family: Montserrat;
    text-align: center;
}

#goto{
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    border: none;
    border-radius: 10px;
    color: white;
    background: rgb(53, 53, 53);
    padding: 10px;
    margin-top: 20px;
    transition: 0.5s;
    animation: 1s;
}

#goto:hover{
    color: rgb(254, 214, 58);
    transform: scale(1.1);
}

#offer{
    font-family: 'Bebas Neue', sans-serif;
    padding: 15px;
     color: rgb(48, 48, 48);
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: bolder;
    text-align: center;
}

#logoyellow{
    color:rgb(254, 214, 58);
}

#btndiv{
    text-align: center;
}

#btncollec{
    text-align: center;
}

#btnsign{
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    animation: 0.5s;
    transition: 0.5s;
    
}

#btnsign:hover{
  transform: scale(1.1);
  color: white;
  background-color: rgb(254, 214, 58);
}

#btnsign:focus{
    outline-width: 0;
}

#sale{
    color: red;
}

#footer{
    text-align: center;
}

.downbar a{
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

#site{
    text-decoration: none;
    color: black;
}

.downbar{
    margin-top: 40px;
}

